node_modules
config/settings.json
.env*
!.env.gateway.example
!.env.production.example
.VSCodeCounter
bun.lockb
.vscode/
.claude/
logs/
public/js/web/*.js
certs/*.crt
certs/*.key
certs/*.pem
certs/*.srl
certs/*.csr
certs/*.der
certs/*.p12
certs/*.pfx
certs/*.jks
certs/*.jceks
certs/*.ca-bundle
config/
!config/assets.json
.env*
!.env.example
assets/tilesets/*
!assets/tilesets/tiles.png
!assets/tilesets/MystcialValley_Environment.png
!assets/tilesets/MystcialValley_Structures.png