node_modules
config/settings.json
.env*
!.env.gateway.example
!.env.production.example
.VSCodeCounter
bun.lockb
.vscode/
.claude/
logs/
public/js/web/*.js
certs/gateway/*.crt
certs/gateway/*.key
certs/gateway/*.pem
certs/gateway/*.srl
certs/gateway/*.csr
certs/gateway/*.der
certs/gateway/*.p12
certs/gateway/*.pfx
certs/gateway/*.jks
certs/gateway/*.jceks
certs/gateway/*.ca-bundle
certs/webserver/*.crt
certs/webserver/*.key
certs/webserver/*.pem
certs/webserver/*.srl
certs/webserver/*.csr
certs/webserver/*.der
certs/webserver/*.p12
certs/webserver/*.pfx
certs/webserver/*.jks
certs/webserver/*.jceks
certs/webserver/*.ca-bundle

config/
!config/assets.json
.env*
!.env.example
public/tilesets/*
!public/tilesets/tiles.png
!public/tilesets/MystcialValley_Environment.png
!public/tilesets/MystcialValley_Structures.png